@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .truncate-multi {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}